@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rlvdcy');
  src:  url('fonts/icomoon.eot?rlvdcy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rlvdcy') format('truetype'),
    url('fonts/icomoon.woff?rlvdcy') format('woff'),
    url('fonts/icomoon.svg?rlvdcy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-clock-o:before {
  content: "\f017";
}
.icon-arrow-circle-o-down:before {
  content: "\f01a";
}
.icon-arrow-circle-o-up:before {
  content: "\f01b";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-eye:before {
  content: "\f06e";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-phone:before {
  content: "\f095";
}
.icon-phone-square:before {
  content: "\f098";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-quote-left:before {
  content: "\f10d";
}
.icon-envelope-square:before {
  content: "\f199";
}
.icon-newspaper-o:before {
  content: "\f1ea";
}
.icon-cart-arrow-down:before {
  content: "\f218";
}
.icon-volume-control-phone:before {
  content: "\f2a0";
}

