#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #2e425d;
    z-index: 100500;
}

#page-preloader .spinner {
    width: 20%;
    height: 40%;
    position: absolute;
    left: 40%;
    top: 30%;
    background: url("images/preload.gif") no-repeat center;
    background-size: cover;
    margin: auto;
}