@font-face {
  font-family: "Myriad Pro";
  src: url("fonts/MyriadPro-Bold.otf");
}

a {
  display: block;
  color: inherit;
  text-align: inherit;
}

a:hover { text-decoration: none; }
a:active { text-decoration: none; }
a:visited { text-decoration: none; }
a:link { text-decoration: none; }

button {
	cursor: pointer;
}

.none-visible {
  display: none !important;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}
.mynav {
  width: 100%;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}

.default {
  position: absolute; bottom: 0px;
  background: rgba(0, 0, 0, 0.8);
}

.nav-other-default {
	position: relative; bottom: auto;
	background: #181f30;
}

.nav-other-default a {
	font-size: 16px !important;
}

.fixed {
  position: fixed; top: 0px;
  background: #181f30;
  z-index: 1;
}

.fixed a {
  font-size: 16px !important;
}

.mynav a {
	display: block;
  padding-top: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 2px;
  font-size: 22px;
  text-align: left;
	 color: #fff;
}

.li-desc a {
	display: block;
  padding-top: 1px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 2px;
  font-size: 16px;
  text-align: left;
  color: #fff;
}


@media (max-width: 991px) {
  .mynav a {
    font-size: 16px;
  }
  .li-desc a {
    font-size: 10px;
  } 
}

.up-li {
  color: #fff;
}

.up-li:hover a {
    color: #4ebaf4;
}

.vcent {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.nav-link {
  color: #fff;
  font-size: 16px;
}

.header-icon {
  vertical-align: middle;
	color: #fff;
	text-shadow: 1px 1px 6px;
}

.header-jobs {
  background: url(images/eljobs.png) no-repeat center top; 
  background-size: 80%; 
  height: 20%;
  margin-top: 1.5%;
  margin-right: 2.5%;
}

@media (max-height: 419px) {
  #navdesc {
    display: none !important;
  }
}

.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: url(images/industrial-2.png) repeat-y top;
  background-size: cover;
}

.card {
  width: 48.5%;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 5px;
  border: none;
}

.card-category {
	width: 97%;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
	background: #fff;
  border: none;
}

@media (max-width: 991px) {
  .card {
    width: 97%;
  }
}

@media (max-width: 576px) {
  .card {
    width: 97%;
  }
}
.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
  text-align: left;
  color: #232934;
}

.footer-top {
  background: #181f30;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 40px;
  color: #fff;
}

.footer-bottom {
  background: #101420;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.other-header 
{
	background: #fff;
	color: #232934;
	width: 100%;
	padding-top: 2px;
}

.other-header p
{
	padding: 0px;
	margin: 2px;
	font-size: 14px;
}

.na-content > img
{
	max-width: 98%;
}
